<mat-toolbar class = "col" style = "position: fixed; z-index: 1; margin: 0px;">
  <div class="example-label">
    <section>
      <div  class="example-button-row">
        <button class="button1" [routerLink]="'/base'">
          Home
        </button>
        <a class="button1" href="/dashboard#dashboard">
          <button class="button1">Top Recommendations</button>
        </a>
        <a class="button1" href="/dashboard#live">
          <button class="button1">Live Data</button>
        </a>
        <a class="button1" href="/dashboard#saved">
          <button class="button1">Saved Recommendations</button>
        </a>
        <button class="button1" [routerLink]="'/base'" (click)="logout()">Logout</button>
      </div>
  </section>
</div>
</mat-toolbar>


<div style="padding:3em" id="dashboard">
<br>
<br>
<br>
<h1 style="text-align:center" >Top 5 Recommendations</h1>
<br>


<table mat-table [dataSource]="datasourceTopFive" class="mat-elevation-z8">
            <!--  Company Name Column -->
            <ng-container matColumnDef="company_name">
              <th mat-header-cell *matHeaderCellDef> Company </th>
              <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>
          
            <!-- Close NSE Column -->
            <ng-container matColumnDef="close_nse">
              <th mat-header-cell *matHeaderCellDef> NSE Price (RS)  </th>
              <td mat-cell *matCellDef="let element"> {{element.closeNSE}} </td>
            </ng-container>
          
            <!-- Close BSE Column -->
            <ng-container matColumnDef="close_bse">
              <th mat-header-cell *matHeaderCellDef> BSE Price (RS) </th>
              <td mat-cell *matCellDef="let element"> {{element.closeBSE}} </td>
            </ng-container>

        
            <ng-container matColumnDef="higher">
              <th mat-header-cell *matHeaderCellDef> Higher (NSE / BSE)</th>
              <ng-container *matCellDef="let element" class ="cell">
                  <td mat-cell *ngIf="element.closeNSE > element.closeBSE"> NSE </td>
                  <td mat-cell *ngIf="element.closeNSE < element.closeBSE"> BSE </td>
                  <td mat-cell *ngIf="element.closeNSE == element.closeBSE"> Equal </td>

              </ng-container>
          </ng-container>

          
            <!-- Difference Column -->
            <ng-container matColumnDef="difference">
              <th mat-header-cell *matHeaderCellDef> Difference </th>
              <td mat-cell *matCellDef="let element"> {{element.diff}} </td>
            </ng-container>

             <!-- Percentage Difference Column -->
             <ng-container matColumnDef="percent_diff">
              <th mat-header-cell *matHeaderCellDef>  Percentage Difference </th>
              <td mat-cell *matCellDef="let element"> {{element.percDiff}} </td>
            </ng-container>


            <ng-container matColumnDef="save">
              <th mat-header-cell *matHeaderCellDef> Save Recommendation </th>
              <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" style = "border: 0px; background-color: rgb(246, 248, 250);" class = "button2" (click)="saveStock(element.companyName, element.closeBSE, element.closeNSE, element.diff, element.percDiff)">Save</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
</div>

<div style="padding:3em" id="live">
  <br>
  <br>
  <br>
<h1 style="text-align:center" >Live Data</h1>
<br>
<table mat-table [dataSource]="datasourceLiveStocks" class="mat-elevation-z8">
            <!--  Company Name Column -->
            <ng-container matColumnDef="company_name">
              <th mat-header-cell *matHeaderCellDef> Company </th>
              <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>
          
            <!-- Close NSE Column -->
            <ng-container matColumnDef="close_nse">
              <th mat-header-cell *matHeaderCellDef> NSE Price (RS) </th>
              <td mat-cell *matCellDef="let element"> {{element.closeNSE}} </td>
            </ng-container>
          
            <!-- Close BSE Column -->
            <ng-container matColumnDef="close_bse">
              <th mat-header-cell *matHeaderCellDef> BSE Price (RS) </th>
              <td mat-cell *matCellDef="let element"> {{element.closeBSE}} </td>
            </ng-container>
            

            <ng-container matColumnDef="higher">
              <th mat-header-cell *matHeaderCellDef> Higher (NSE / BSE)</th>
              <ng-container *matCellDef="let element" class ="cell">
                  <td mat-cell *ngIf="element.closeNSE > element.closeBSE"> NSE </td>
                  <td mat-cell *ngIf="element.closeNSE < element.closeBSE"> BSE </td>
                  <td mat-cell *ngIf="element.closeNSE == element.closeBSE"> Equal </td>

              </ng-container>
          </ng-container>

            <!-- Difference Column -->
            <ng-container matColumnDef="difference">
              <th mat-header-cell *matHeaderCellDef> Difference </th>
              <td mat-cell *matCellDef="let element"> {{element.diff}} </td>
            </ng-container>

             <!-- Percentage Difference Column -->
             <ng-container matColumnDef="percent_diff">
              <th mat-header-cell *matHeaderCellDef>  Percentage Difference </th>
              <td mat-cell *matCellDef="let element"> {{element.percDiff}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
          <mat-paginator #datasourceLiveStocksPaginator [pageSize] = "10" [pageSizeOptions] = "[10,50,100,200,300,700]" 
  showFirstLastButtons>
</mat-paginator>
</div>


<div style="padding:3em" id="saved">
<br>
<br>
<br>
<h1 style="text-align:center" >Saved Recommendations</h1>
<br>

<table mat-table [dataSource]="datasourceSavedStocks" class="mat-elevation-z8">
  <!--  Company Name Column -->
  <ng-container matColumnDef="company_name">
    <th mat-header-cell *matHeaderCellDef> Company </th>
    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
  </ng-container>

  <!-- Close NSE Column -->
  <ng-container matColumnDef="close_nse">
    <th mat-header-cell *matHeaderCellDef> NSE Price (RS) </th>
    <td mat-cell *matCellDef="let element"> {{element.closeNSE}} </td>
  </ng-container>

  <!-- Close BSE Column -->
  <ng-container matColumnDef="close_bse">
    <th mat-header-cell *matHeaderCellDef> BSE Price (RS) </th>
    <td mat-cell *matCellDef="let element"> {{element.closeBSE}} </td>
  </ng-container>

  <ng-container matColumnDef="higher">
    <th mat-header-cell *matHeaderCellDef> Higher (NSE / BSE)</th>
    <ng-container *matCellDef="let element" class ="cell">
        <td mat-cell *ngIf="element.closeNSE > element.closeBSE"> NSE </td>
        <td mat-cell *ngIf="element.closeNSE < element.closeBSE"> BSE </td>
        <td mat-cell *ngIf="element.closeNSE == element.closeBSE"> Equal </td>

    </ng-container>
</ng-container>
  <!-- Difference Column -->
  <ng-container matColumnDef="difference">
    <th mat-header-cell *matHeaderCellDef> Difference </th>
    <td mat-cell *matCellDef="let element"> {{element.diff}} </td>
  </ng-container>

   <!-- Percentage Difference Column -->
   <ng-container matColumnDef="percent_diff">
    <th mat-header-cell *matHeaderCellDef>  Percentage Difference </th>
    <td mat-cell *matCellDef="let element"> {{element.percDiff}} </td>
  </ng-container>

  <!-- Percentage Difference Column -->
  <ng-container matColumnDef="date_time">
    <th mat-header-cell *matHeaderCellDef>  Date </th>
    <td mat-cell *matCellDef="let element"> {{element.dateTime}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>
<mat-paginator #datasourceSavedStocksPaginator [pageSize] = "10" [pageSizeOptions] = "[10,50,80,100,200,300]" 
showFirstLastButtons>
</mat-paginator>

</div>