<!DOCTYPE html>
<html lang="en">
  <body>
    <mat-toolbar class="col" style="position: fixed">
      <div class="example-label">
        <section>
          <div  class="example-button-row">
            <a class="button1" href="/base#home">
              <button class="button1">Home</button>
            </a>
            <a class="button1" href="/base#recommendations">
              <button class="button1">Recommendations</button>
            </a>
            <button class="button1" [routerLink]="'/login'">Login</button>
            <button class="button1" [routerLink]="'/signup'">
              Create Account
            </button>
          </div>
        </section>
      </div>
    </mat-toolbar> 

    <br />
    <br />
    <br />
    <br />
    <div id="home">
      <br />
      <br />
      <br />
      <br />
      <h1 style="text-align: center">NSE BSE Recommendation System LOGO</h1> 
    </div>
    <br />
    <br />
    <div id="recommendations">
      <br />
      <br />
      <br />
      <br />
      <h1 style="text-align: center">Top 5 Recommendations</h1>
      <table style = "width: 95%; margin-left: auto; margin-right: auto;"mat-table [dataSource]="datasourceTopFive" class="mat-elevation-z8">
        <!--  Company Name Column -->
        <ng-container matColumnDef="company_name">
          <th mat-header-cell *matHeaderCellDef> Company Name </th>
          <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
        </ng-container>
      
        <!-- Close NSE Column -->
        <ng-container matColumnDef="close_nse">
          <th mat-header-cell *matHeaderCellDef> Close NSE </th>
          <td mat-cell *matCellDef="let element"> {{element.closeNSE}} </td>
        </ng-container>
      
        <!-- Close BSE Column -->
        <ng-container matColumnDef="close_bse">
          <th mat-header-cell *matHeaderCellDef> Close BSE </th>
          <td mat-cell *matCellDef="let element"> {{element.closeBSE}} </td>
        </ng-container>
      
        <!-- Difference Column -->
        <ng-container matColumnDef="difference">
          <th mat-header-cell *matHeaderCellDef> Difference </th>
          <td mat-cell *matCellDef="let element"> {{element.diff}} </td>
        </ng-container>

         <!-- Percentage Difference Column -->
         <ng-container matColumnDef="percent_diff">
          <th mat-header-cell *matHeaderCellDef>  Percentage Difference </th>
          <td mat-cell *matCellDef="let element"> {{element.percDiff}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <br>

  
  </body>
</html>



