<!DOCTYPE html>
<html lang="en">

<body>
  <mat-toolbar class = "col" style = "position: fixed;">
      <div class="example-label">
        <section>
          <div class="button" class="example-button-row">
            <a class="button" href="/base#home">
              <button class="button">Home</button>
            </a>
            <a class="button" href="/base#faq">
              <button class="button">FAQ</button>
            </a>
            <a class="button" href="/base#about">
              <button class="button">About Us</button>
            </a>
            <button class="button" [routerLink]="'/login'">Login</button>
            <button class="button" [routerLink]="'/signup'">Create Account</button>
          </div>
      </section>
    </div>
  </mat-toolbar>
  <br>
  <br>
  <br>
  <br>
  <div id="home"> 
    <br>
    <br>
    <br>
  
  <h1 style="text-align:center">NSE BSE Recommendation System LOGO</h1>
</div>
  <br>
  <br>
  <div id="faq"> 
    <br>
    <br>
    <br>
  <h1 style="text-align:center">FAQ</h1>
</div>

  <br>
  <br>
  <div id="about"> 
    <br>
    <br>
    <br>
  <h1 style="text-align:center">About Team</h1>
</div>

</body>