<!DOCTYPE html>
<html lang="en">
  <body>
    <mat-toolbar class="col" style="position: fixed">
      <div class="example-label">
        <section>
          <div  class="example-button-row">
            <a class="button1" href="/base#home">
              <button class="button1">Home</button>
            </a>
            <a class="button1" href="/base#faq">
              <button class="button1">FAQ</button>
            </a>
            <a class="button1" href="/base#about">
              <button class="button1">About Us</button>
            </a>
            <button class="button1" [routerLink]="'/login'">Login</button>
            <button class="button1" [routerLink]="'/signup'">
              Create Account
            </button>
          </div>
        </section>
      </div>
    </mat-toolbar>
    <br />
    <br />
    <br />
    <br />
    <div id="home">
      <br />
      <br />
      <br />
      <br />
      <h1 style="text-align: center">NSE BSE Recommendation System LOGO</h1> 

      

    </div>
    <br />
    <br />
    <div id="faq">
      <br />
      <br />
      <br />
      <br />
      <h1 style="text-align: center">FAQ</h1>
     





    </div>

    <br />
    <br />
    <div id="about">
      <br />
      <br />
      <br />
      <br />
      <h1 style="text-align: center">About Us</h1>
      <br />
      <br />

      <mat-card style="background-color: rgb(241, 249, 251);"> <mat-card-content style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
        <pre>
      CitiBridge Group 8 Team Members

          1. Aditi Kajale
          2. Gayatri Chaudhari
          3. Mugdha Tagare
          4. Rutuja Wasu
          5. Siddhi Bhutada 
          </pre>
      </mat-card-content></mat-card>
    </div>
  </body>
</html>



