<!DOCTYPE html>
<html lang="en">


    <body>
                <mat-toolbar class = "col"style = "position: absolute; top: 0px; left:0px; width: 100%">
                    <div class="example-label">
                      <section>
                        <div class="button1" class="example-button-row">
                          <button class="button1" [routerLink]="'/base'">Home</button>
                              <button class="button1"  [routerLink]="'/login'">Login</button>
                        </div>
                    </section>
                  </div>
                </mat-toolbar>

    <section class="signupSec">
                <mat-card>
                    <mat-card-title>Sign Up</mat-card-title>
              <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <p>
                    <mat-form-field>
                      <input type="text" matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                  </p>
        
                  <p>
                    <mat-form-field>
                      <input type="password" matInput placeholder="Password" formControlName="password">
                    </mat-form-field>
                  </p>
        
                  <div class="button">
                    <button type="submit" mat-button style="color: #000; border: 0px; font-size: 16px; background-color: white;">Submit</button>
                  </div>
        
                </form>
              </mat-card-content>
            </mat-card>

</section >
</body> 
    