.card_about{
 
    border:none;
      width:400px;
      padding:40px;
      position:absolute;
      top:35%;
      left:10%;
  }

.card_sign{
    border:none;
    width:500px;
    padding:40px;
    position:absolute;
    top:55%;
    left:75%;
    transform: translate(-50%, -50%);
    background: hsla(205,46%,30%,1);
    background: linear-gradient(90deg, hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1) 100%);
}

.card h1, h6{
    color: #fff;
}
label{
    color: #fff;
}
.foot{
    padding-top: 80%;
}

body{
    background-color: #cdeaf7;
}
.navclass
{
    width:100%;
    background: #1b315e;
    background: linear-gradient(90deg, rgb(35, 78, 109) 0%, rgb(65, 34, 129) 100%);
    z-index:1; /*Add this*/

}

.row_pad{
    padding-top: 50px;
}



  